<section class="content">
  <div class="content-block">
    <div class="block-header">
      <!-- breadcrumb -->
      <app-breadcrumb [title]="'All ICD10'" [items]="['ICD10s']" [active_item]="'All ICD10'"></app-breadcrumb>
    </div>

    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
          <div class="materialTableHeader">
            <div class="left">
              <ul class="header-buttons-left ms-0">
                <li class="tbl-title">
                  <h2>ICD10s</h2>
                </li>
                <li class="tbl-search-box">
                  <label for="search-input"><i class="material-icons search-icon">search</i></label>
                  <input placeholder="Search" type="text" #filter class="browser-default search-field"
                  aria-label="Search box" (input)="search(filter.value)">
                </li>
              </ul>
            </div>
            <div class="right">
              <ul class="tbl-export-btn">
                <li class="tbl-header-btn">
                  <div class="m-l-10" matTooltip="ADD">
                   <button mat-mini-fab color="primary" (click)="addNew()">
                      <mat-icon class="col-white">add</mat-icon>
                    </button>
                  </div>
                </li>
                <li class="tbl-header-btn">
                  <div class="m-l-10" matTooltip="REFRESH">
                    <button mat-mini-fab color="primary" (click)="getAllICD10()">-
                      <mat-icon class="col-white">refresh</mat-icon>
                    </button>
                  </div>
                </li>
                <li class="tbl-header-btn">
                  <div class="m-l-10" [hidden]=!selection.hasValue() matTooltip="DELETE">
                    <button mat-mini-fab color="warn" (click)="removeRowsAndRefresh()">
                      <mat-icon class="col-white">delete
                      </mat-icon>
                    </button>
                  </div>
                </li>
               <!--  <li>
                  <div class="export-button m-l-10" matTooltip="XLSX">
                    <img src="assets/images/icons/xlsx.png" alt="" (click)="exportExcel()" />
                  </div>
                </li>-->
              </ul>
            </div>
          </div>
          <div class="body overflow-auto">
            <div class="responsive_table">
              <table mat-table #table [dataSource]="dataSource" matSort class="mat-cell">
                <!-- Checkbox Column -->
                 <ng-container matColumnDef="select">
                  <mat-header-cell *matHeaderCellDef [ngClass]="'tbl-col-width-per-6'">
                    <mat-checkbox (change)="$event ? masterToggle() : null"
                      [checked]="selection.hasValue() && isAllSelected()"
                      [indeterminate]="selection.hasValue() && !isAllSelected()" [ngClass]="'tbl-checkbox'">
                    </mat-checkbox>
                  </mat-header-cell>
                  <mat-cell *matCellDef="let row" [ngClass]="'tbl-col-width-per-6'">
                    <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
                      [checked]="selection.isSelected(row)" [ngClass]="'tbl-checkbox'">
                    </mat-checkbox>
                  </mat-cell>
                </ng-container>
                <!-- ID Column -->

                <ng-container matColumnDef="code">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Code</mat-header-cell>
                  <mat-cell *matCellDef="let row"> {{row.icd10Code}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="chapter">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>chapter</mat-header-cell>
                  <mat-cell *matCellDef="let row"> {{row.icd10Chapter}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="block">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>block</mat-header-cell>
                  <mat-cell *matCellDef="let row"> {{row.icd10Block}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="category">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>category</mat-header-cell>
                  <mat-cell *matCellDef="let row"> {{row.icd10Category}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="subcategory">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>subcategory</mat-header-cell>
                  <mat-cell *matCellDef="let row"> {{row.icd10Subcategory}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="extension">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> extension</mat-header-cell>
                  <mat-cell *matCellDef="let row"> {{row.icd10Extension }}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="notes">
                  <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header> notes </mat-header-cell>
                  <mat-cell *matCellDef="let row" >{{row.icd10Notes }} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="description">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>description</mat-header-cell>
                  <mat-cell *matCellDef="let row"> {{row.icd10Description}}
                  </mat-cell>
                </ng-container>
                
                <!-- actions -->
                <ng-container matColumnDef="actions">
                  <mat-header-cell class="pr-0" *matHeaderCellDef>Actions</mat-header-cell>
                   <mat-cell *matCellDef="let row; let i=index;" class="pr-0">
                   <button mat-icon-button (click)="$event.stopPropagation()" (click)="editCall(row)"
                      class="tbl-action-btn">
                      <app-feather-icons [icon]="'edit'" [class]="'tbl-fav-edit'"></app-feather-icons>
                    </button>
                    <button mat-icon-button (click)="$event.stopPropagation()" (click)="deleteItem(row)"
                      class="tbl-action-btn">
                      <app-feather-icons [icon]="'trash-2'" [class]="'tbl-fav-delete'"></app-feather-icons>
                    </button>
                  </mat-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row> 
                <!--<mat-row *matRowDef="let row; columns: displayedColumns;" (click)="editCall(row)"
                  [style.cursor]="'pointer'" matRipple>
                </mat-row>-->
              </table>
              <!-- Loading spinner -->
              <div *ngIf="exampleDatabase?.isTblLoading" class="tbl-spinner">
                <mat-progress-spinner color="primary" [diameter]="40" mode="indeterminate">
                </mat-progress-spinner>
              </div>
              <div *ngIf="(dataSource | async) as data" class="no-results">
                <mat-paginator #paginator [length]="data.length" [pageIndex]="0" [pageSize]="10"></mat-paginator>
                <div [style.display]="data.length === 0 ? '' : 'none'">No data available</div>
            </div>
              <mat-paginator #paginator [length]="(dataSource | async)?.length" [pageIndex]="0" [pageSize]="10"
                [pageSizeOptions]="[5, 10, 25, 100]">
              </mat-paginator>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
