<section class="content">
    <div class="content-block">
      <div class="block-header">
        <!-- breadcrumb -->
        <app-breadcrumb [title]="'Edit Ingredients'" [items]="['Ingredients']" [active_item]="'Edit Ingredients'"></app-breadcrumb>
      </div>
      <div class="row clearfix">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
          <div class="card">
            <div class="header">
              <h2>Ingredient Information</h2>
            </div>
            <div class="body">
              <form class="m-4" [formGroup]="ingredientForm" (ngSubmit)="onSubmit()">
                <div class="row">
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                      <mat-label>Ingredient Name</mat-label>
                      <input matInput formControlName="ingredientName" required>
                      <mat-error *ngIf="ingredientForm.get('ingredientName')?.hasError('required')">
                        Ingredient Name is required
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                      <mat-label>Ingredient Description</mat-label>
                      <input matInput formControlName="ingredientDesc" required>
                      <mat-error *ngIf="ingredientForm.get('ingredientDesc')?.hasError('required')">
                        Ingredient Description is required
                      </mat-error>
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                    <button class="btn-space" [disabled]="!ingredientForm.valid " mat-raised-button
                      color="primary">Submit</button>
                    <button type="button" mat-raised-button color="warn">Cancel</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
