<div class="container">
    <h3 mat-dialog-title>Are you sure?</h3>
    <div mat-dialog-content>
      <ul class="clearfix">
        <li>
          <p><span class="font-weight-bold"> Symptom Name: {{ symptom.symptomName }}</span></p>
          <!-- Utilisez symptom?.symptomName pour éviter une erreur si symptom est null -->
          <!-- Ajoutez d'autres détails du symptôme ici si nécessaire -->
        </li>
      </ul>
    </div>
    <div mat-dialog-actions class="mb-1">
      <button mat-flat-button color="warn" [mat-dialog-close]="true">
        Delete
      </button>
      <button mat-flat-button tabindex="-1" (click)="onCancelClick()">Cancel</button>
    </div>
  </div>
