<div class="addContainer">
  <div class="modalHeader">
    <button mat-icon-button (click)="dialogRef.close()" class="modal-close-button" aria-label="Close dialog">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div mat-dialog-content>
    <form class="register-form m-4" [formGroup]="ingredientForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Ingredient Name</mat-label>
            <input matInput formControlName="ingredientName" required>
            <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix>face</mat-icon>
            <mat-error *ngIf="ingredientForm.get('ingredientName')?.hasError('required')">
              Ingredient Name is required
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Ingredient Description</mat-label>
            <input matInput formControlName="ingredientDesc" required>
            <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix>business_center</mat-icon>
            <mat-error *ngIf="ingredientForm.get('ingredientDesc')?.hasError('required')">
              Ingredient Description is required
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
          <div class="example-button-row">
            <button mat-raised-button color="primary" [disabled]="!ingredientForm.valid" type="submit">Save</button>
            <button mat-raised-button color="warn" (click)="onCancelClick()" tabindex="-1">Cancel</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

