<section class="content">
  <div class="content-block">
    <div class="block-header">
      <!-- breadcrumb -->
      <app-breadcrumb [title]="'Add ICD10s'" [items]="['ICD10s']" [active_item]="'Add ICD10s'"></app-breadcrumb>
    </div>
    <div class="row clearfix">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <div class="card">
          <div class="header">
            <h2>Add ICD10</h2>

          </div>
          <div class="body">
            <form class="m-4" [formGroup]="icd10Form" (ngSubmit)="onSubmit()">
              <div class="row">
                <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                      <mat-label>CODE</mat-label>
                      <input matInput formControlName="code" #codeInput (keyup)="updateChapter(codeInput.value);updateBlock(codeInput.value);updateCategory(codeInput.value);updateSubcategory(codeInput.value);updateExtension(codeInput.value)" required>


                      <mat-error *ngIf="icd10Form.get('Code')?.hasError('required')">
                          CODE is required
                      </mat-error>
                  </mat-form-field>
              </div>
              <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                      <mat-label>Chapter</mat-label>
                      <p class="mat-label"> {{ chapterValue }} </p>
                      <input matInput formControlName="chapter" [disabled]="true" >
                  </mat-form-field>
              </div>
              
                <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3 custom-border" appearance="outline">
                    <mat-label>Block</mat-label>
                    <p class="mat-label">{{ BlockValue }} </p>
                    <input matInput formControlName="block" [disabled]="true" >
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Category</mat-label>
                    <p class="mat-label"> {{ CategoryValue }}</p>
                    <input matInput formControlName="category" [disabled]="true" >
                  </mat-form-field>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Subcategory</mat-label>
                    <p class="mat-label"> {{ SubcategoryValue }} </p>
                    <input matInput formControlName="subcategory" [disabled]="true" >
                  </mat-form-field>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Extension</mat-label>
                    <p class="mat-label"> {{ ExtensionValue }} </p>
                    <input matInput formControlName="extension" [disabled]="true">
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
              
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Notes</mat-label>
                    <textarea matInput formControlName="notes"></textarea>
                  </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Description</mat-label>
                    <textarea matInput formControlName="description" required></textarea>
                  </mat-form-field>
                </div>
                
              </div>
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                  <button class="btn-space" [disabled]="!icd10Form.valid " mat-raised-button
                    color="primary">Submit</button>
                  <button type="button" mat-raised-button color="warn">Cancel</button>
                </div>
              </div>
            </form>

            

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
